    services:
      zookeeper:
        image: wurstmeister/zookeeper
        container_name: zookeeper
        ports:
          - "2181:2181"
      kafka:
        image: wurstmeister/kafka
        container_name: kafka
        ports:
          - "9092:9092"
        environment:
          KAFKA_ADVERTISED_HOST_NAME: localhost
          KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181


      cassandra:
        image: cassandra:4.1
        container_name: cassandra
        ports:
          - "9042:9042"
        environment:
          - CASSANDRA_CLUSTER_NAME=TestCluster
          - CASSANDRA_NUM_TOKENS=8
        volumes:
          - cassandra_data:/var/lib/cassandra

    volumes:
      cassandra_data:
